<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
  <title>Knowlarity Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container-fluid">
  <h1>Programme Records</h1>
  <div class="row">
    {% block body %}{% endblock %}
  </div>
</div>
{% block scriptblock %}
{% endblock %}
</body>
</html>

